#about {
    background-color: var(--bg-color-second);
}
.about-sec {
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-detail {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;

        .left-about {
            > * + * {
                margin-top: 3rem;
            }
        }
        .right-about {
            table {
                th {
                    text-align: left;
                    padding-block: 0.8rem;
                }
                td {
                    padding-block: 0.8rem;
                    padding-left: 4rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .about-sec {
        .about-detail {
            grid-template-columns: repeat(2, 1fr);
            .left-about {
                justify-self: center;
            }
            .right-about {
                justify-self: center;
            }
        }
    }
}
