/****** header section ******/

header {
    font-family: "Poppins", sans-serif;
    position: relative;
    min-height: 100vh;

    .side-bar {
        background-color: var(--neutral-color);
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 9999;
        transform: translateX(-100%);
        width: 20rem;
        padding: 1rem;
        box-shadow: 0.2rem 0 0.5rem 0 rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.4s ease;

        .logo {
            font-weight: f-weight-b;
            border-bottom: 2px solid var(--primary-color-l);
            padding: 1rem 0;
            display: flex;
            align-items: flex-end;
            gap: 2rem;
            flex-wrap: nowrap;

            &__img {
                min-width: 4rem;
                height: 4rem;
                line-height: 4rem;
                text-align: center;
                font-size: 2.4rem;
                border-radius: 1rem;
                color: var(--neutral-color);
                background-color: var(--primary-color-b);
                cursor: pointer;
            }
            &__text {
                color: var(--nav-link-color);
                font-weight: var(--f-weight-b);
                cursor: pointer;
            }
        }

        nav {
            .nav-link {
                border-radius: 1rem;
                height: 5rem;
                background-color: var(--neutral-color);
                margin: 1rem 0;

                &__icon {
                    min-width: 4rem;
                    text-align: center;
                    font-size: 2.2rem;
                }

                a {
                    color: var(--dark-color);
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                    font-size: 1.4rem;
                    font-weight: f-weight-b;
                    color: var(--nav-link-color);
                    transition: color 0.2s ease-in-out,
                        background-color 0.4s ease-in-out;

                    &:hover {
                        background-color: var(--primary-color-b);
                        color: var(--neutral-color);
                    }
                }
            }
            .active a {
                background-color: var(--primary-color-b);
                color: var(--neutral-color);
            }
        }
        .sub-header {
            border-top: 2px solid var(--primary-color-l);
            display: flex;
            gap: 2rem;
            padding: 1rem 0;
            color: var(--nav-link-color);
            &__img {
                min-width: 4rem;
                height: 4rem;
                cursor: pointer;
                img {
                    width: 4rem;
                    height: 4rem;
                }
            }
            &__text {
                flex-direction: column;
                justify-content: center;

                > :first-child {
                    color: var(--nav-link-color);
                    font-weight: var(--f-weight-m);
                    font-size: 1.4rem;
                }
                > :last-child {
                    color: var(--nav-link-color);
                    font-size: 1.2rem;
                }
            }
        }
    }

    .active-side-bar {
        transform: translateX(0);
    }

    .menu {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background-color: var(--primary-color-b);
        color: var(--neutral-color);
        font-size: 3rem;
        cursor: pointer;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 2rem;
        transition: all 0.4s ease;

        &__close {
            display: none;
        }
    }
    .open-side-bar {
        left: 20rem;
        .menu__open {
            display: none;
        }
        .menu__close {
            display: block;
        }
    }
}

/****** end of header section ******/

/****** home section ******/

#home {
    background-color: var(--bg-color-first);
}

.home-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    width: 100%;
    min-height: 100vh;
    padding-block: 3rem;
    .avatar {
        animation: fadeUp 2s ease;
        min-width: 20rem;
        min-height: 20rem;
        border-radius: 100%;
        position: relative;
        .avatar-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(../img/avatar.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
            box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
            animation: morph 8s ease-in-out 1s infinite;
            overflow: hidden;
        }
    }
    .details {
        .hello {
            font-weight: var(--f-weight-b);
        }
        h1 {
            animation: fadeToLeft 2s ease;
        }
        .btn-group {
            animation: fadeToUp 2s ease;
            margin-top: 3rem;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
        .social-links {
            margin-top: 3rem;
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;
            }
            .social-link {
                color: var(--neutral-color);
                transition: transform 0.3s ease-out;
                &__icon {
                    font-size: 3rem;
                }

                &:hover {
                    transform: translateY(-25%);
                }
            }
        }
    }
}

/****** end of section ******/
@keyframes fadeUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeToUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeToRight {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media only screen and (min-width: 768px) {
    /*********** header section ******************************/

    header {
        .side-bar {
            overflow-x: hidden;
            white-space: nowrap;
            transform: translateX(0);
            width: 6rem;
            transition: width 0.4s ease-out;

            &:hover {
                width: 25rem;
            }
        }
        .menu {
            display: none;
        }
    }

    /*********** end of header section ************************/

    /*********** home section *********************************/

    .home-sec {
        flex-direction: row;
        .avatar {
            min-width: 30rem;
            min-height: 30rem;
        }
    }

    /*********** end of home section **************************/
}

@media only screen and (min-width: 1450px) {
    header {
        .side-bar {
            transform: translateX(0);
            width: 25rem;
        }
    }
}
