@mixin outline-btn($color, $bColor, $width) {
  color: $color;
  border: $width solid $bColor;
  font-size: $fSize;
  padding: 0.5em 1em;
  border-radius: 50rem;
  background-color: transparent;
}

@mixin fill-btn($color, $bgColor, $bColor, $width) {
  color: $color;
  border: $width solid $bColor;
  background-color: $bgColor;
  font-size: $fSize;
  padding: 0.5em 1em;
  border-radius: 50rem;
}
