/*********************************************************
    utility class
*********************************************************/

.color-primary {
    color: var(--primary-color-b);
}
.color-secondary {
    color: var(--secondary-color);
}

.container {
    padding-inline: 1.8rem;
    margin-inline: auto;
}

@media only screen and (min-width: 350px) {
    .container {
        padding-inline: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding-inline: 0;
        max-width: 698px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 922px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}
@media only screen and (min-width: 1450px) {
    .container {
        max-width: 1180px;
    }
}

/*================ btn =====================*/
.btn {
    color: var(--neutral-color);
    font-size: 1.4rem;
    border-radius: var(--btn-radius);
    padding: 0.8em 1.4em;
    font-weight: 600;
    transition: color 0.35s ease-out, background-color 0.35s ease-out;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--btn-color);
}
.btn-outline:hover {
    background-color: var(--btn-fill-bg-color);
    border: 1px solid var(--btn-fill-bg-color);
}

.btn-fill {
    background-color: var(--btn-fill-bg-color);
    border: 1px solid var(--btn-fill-bg-color);
}
.btn-fill:hover {
    background-color: transparent;
    border: 1px solid var(--btn-color);
}

.section-title {
    margin-inline: auto;
    color: var(--primary-color-b);
    background-color: var(--section-title-bg);
    width: max-content;
    padding: 0.3em 2em;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 5rem;
        height: 0.1rem;
        border-radius: 0.3rem;
        background-color: var(--neutral-color);
        position: absolute;
        top: 50%;
        right: 110%;
        transform: translateY(-50%);
    }
}

/*********************************************************
    end of utility class
*********************************************************/
