// $primaryColorBold: #4d96ff;
$primaryColorBold: #695cfe;
$primaryColorMedium: #a59dfe;
$primaryColorLight: #e1deff;
$secondaryColor: #ea4343;
$neutranColor: #fff;
$darkColor: #000;
$mutedDarkColor: #333;
$navLinkColor: #505050;
$paraColor: #505050;
$sectionTitleBg: #695cfe2c;

/* bg color */
// $bgColorFirst: #f7f7f7;
// $bgColorSecond: #ffffff;
$bgColorFirst: #363b41;
$bgColorSecond: #2a2f33;

/* btn */
$btnColor: #695cfe;
$btnRadius: 0.7rem;
$btnFillColor: #fff;
$btnFillBgColor: #695cfe;

/* font weight */
$fWeightBold: 700;
$fWeightMedium: 600;
$fWeightNormal: 400;
